* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/*** HEADER ***/
header {
	width: 100%;
}
.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}
.menu li {
	margin: 10px;
}